/* Styles for the container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px; /* Adjust as needed */
    background-color: #f0f0f0;
  }
  
  /* Styles for the group header */
  .group-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Styles for the button container */
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Styles for the new post button */
  .new-post-button {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

  }
  
  .new-post-button:hover {
    background-color: #0056b3;
  }


  .upper-post {
    padding: 5px;
    background-color: #444;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.post-name {
    color: #ffcc00;
    margin: 0;
}



.post-content{
  width: 600px;
  padding: 10px;
  margin:10px;
  outline: solid;
}
.lower-post{
  display: flex;
  width: 500px;
  justify-content:space-between ;
}

.update-button, .delete-button {
    background-color: #ffcc00;
    color: #333;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.update-button:hover, .delete-button:hover {
    background-color: #ffdd33;
}
.group-name{
    outline: auto;
    padding: 5px;
    
}

.group-description{
    outline: auto;
    padding: 5px;
    
}
.join-button{
    background-color: #89CFF0;
    color: #333;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin:7px;
    font-size: larger;

}
.a-tag{
    
    text-decoration: none;
    color: inherit;
    
   
}
/* Styles for the container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto; /* Adjust as needed */
  background-color: #f0f0f0;
  
}

/* Styles for the group header */
.group-header {
  text-align: center;
  margin-bottom: 20px;
}

/* Styles for the button container */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for the new post button */
.new-post-button {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.new-post-button:hover {
  background-color: #0056b3;
}


.upper-post {
  padding: 5px;
  background-color: #444;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.post-name {
  color: #ffcc00;
  margin: 0;
}



.post-content{
width: 600px;
padding: 10px;
margin:10px;
outline: solid;
}
.lower-post{
display: flex;
width: 500px;
justify-content:space-between ;
margin-bottom: 20px;
}

.update-button, .delete-button {
  background-color: #ffcc00;
  color: #333;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.update-button:hover, .delete-button:hover {
  background-color: #ffdd33;
}
.group-name{
  outline: auto;
  padding: 5px;
  
}

.group-description{
  outline: auto;
  padding: 5px;
  
}
.join-button{
  background-color: #89CFF0;
  color: #333;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin:7px;
  font-size: larger;

}
.a-tag{
  
  text-decoration: none;
  color: inherit;
  
 
}

  