<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Apicc</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <span class="app-name">Apicc</span>
        </div>
        <div class="navbar-links">
            <a href="http://localhost:4200/home" class="nav-link">Home</a>
            <a href="http://localhost:4200/groups" class="nav-link">Groups</a>
            <a href="#" class="nav-link">Friends</a>
            <a href="http://localhost:4200/new-post" class="nav-link">New post</a>
        </div>
        <div class="navbar-profile">
            <a href="http://localhost:4200/profile">
                <img src="\assets\images\profile.png" alt="Profile" class="profile-icon">
            </a>
            <button  (click)="logout()" class="logout" >logout</button>
        </div>
    </nav>
</body>
</html>

