<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <title>Posts</title>
     <!-- Link to your CSS file -->
</head>
<body>
    <div class="container">
        <h1>Posts</h1>
        <div class="post-list">
            <div class="post-item" *ngFor="let post of (posts | async)">
                <div class="upper-post">
                    <p class="post-name">Posted by: {{post.user.username}}</p>
                </div>
                <div *ngIf="editingMode && post.id === selectedPost.id; else viewingMode">
                    <!-- Editing mode -->
                    <form (submit)="updatePost(selectedPost)">
                        <textarea name="postContent" [(ngModel)]="selectedPost.content" class="edit-content-text" placeholder="{{selectedPost.content}}">{{post.content}}</textarea>
                        <button type="submit" class="save-button">Save</button>
                        
                        <button (click)="cancelEdit()" class="cancel-button">Cancel</button>
                    </form>
                </div>
                <ng-template #viewingMode>
                    <!-- Viewing mode -->
                    <div class="post-content">
                        <p class="post-content-text">{{ post.content }}</p>
                    </div>
                    <div class="lower-post">
                        <button (click)="editPost(post)" class="update-button">Edit</button>
                        
                        <button (click)="delete(post.id)" class="delete-button">Delete</button>
                        <div class="reactions">
                            <app-reactions  [postId]="post.id"></app-reactions>
                        </div>
                    </div>
                    
                </ng-template>
            </div>
        </div>
    </div>
</body>
</html>

