<app-nav-bar></app-nav-bar>
<app-group-details-nav-bar [groupID]="group.id"></app-group-details-nav-bar>
<div class="upper-wrapper">
<div class="container">
  <div *ngIf="editingMode && group.id === selectedGroup.id; else viewingMode">
    <!-- Editing mode -->
    <form (submit)="updateGroup(selectedGroup)">
        <p>Group Name:</p>
        <textarea name="groupName" [(ngModel)]="selectedGroup.name" class="edit-content-text">{{group.name}}</textarea>
        <p>Group Description:</p>
        <textarea name="groupDescription" [(ngModel)]="selectedGroup.description" class="edit-content-text">{{group.description}}</textarea>
        <button type="submit" class="save-button">Save</button>
        
        <button (click)="cancelEdit()" class="cancel-button">Cancel</button>
    </form>
</div>
<ng-template #viewingMode>
    <a class="a-tag" href="http://localhost:4200/groups/{{group.id}}">
        
    <!-- Viewing mode -->
    <div class="post-content">
        <h3 class="group-name">Group name:</h3>
        <p class="post-content-text">{{ group.name }}</p>
        <h3 class="group-description">Group description:</h3>
        <p class="post-content-text">{{ group.description }}</p>
    </div>
</a>
    
    <div class="lower-post">
        <button *ngIf="isUserAdminOfGroup " (click)="editGroup(group)" class="update-button">Edit</button>
        
        <button *ngIf="isUserAdminOfGroup" (click)="delete(group.id)" class="delete-button">Delete</button>
        
    </div>
    <div  class="join-group">
        <button *ngIf="!isUserAdminOfGroup && !isUserInGroup" (click)="joinGroup(group.id)" class="join-button">Join</button>
    </div>
    
</ng-template>
</div>
</div>

<div class="button-container" *ngIf="isUserInGroup || isUserAdminOfGroup">
  <a href="http://localhost:4200/new-post/{{group.id}}"><button class="new-post-button">New Post</button></a>
</div>

<app-group-post [groupID]="group.id"></app-group-post>


