body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fdfdfd;
    color: #fff;
}

.navbar {
    margin-bottom: 15px;
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    outline: 2px solid #ffcc00;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 2;
}

h1 {
    color: #ffcc00;
    margin-bottom: 20px;
}

.post-list {
    display: flex;
    flex-direction: column;
}

.post-item {
    margin: 10px 0;
    padding: 15px;
    background-color: #333;
    border-radius: 5px;
    border: 1px solid #ffcc00;
}

.post-content {
    color: #fff;
    word-wrap: break-word;
}

button {
    background-color: #ffcc00;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ffdd33;
}
